.custom-format {
background-color:#bab5b5 ;
}
a{
    color:black;
}
body{
    background-color:#ffff ;
    background-size:cover ;
}
p{
    text-align: center;
}
img{
    margin-left:250px;
    width:800px ;
    height:500px;
    border-color:#edc6c5;

}